<!--
 * @Author: your name
 * @Date: 2021-04-29 09:52:42
 * @LastEditTime: 2021-05-03 16:54:20
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \lyh-project (1)\views\user\login.html
-->
</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/register.css">
  <title>主页</title>
</head>

<body>
  <div id="top">爱护我们的地球，爱护我们的环境。</div>
  <div class="body">
    <div class="topNav">
      <div class="left">
        <img src="img/logo.jpg" alt="">
        <h2>垃圾科学分类，文明你我同行。</h2>
      </div>
      <div class="right">
        <a href="login" id="log">登录</a>
        <a href="reg" id="reg">注册</a>
      </div>
      <!-- 搜索 -->
      <div class="navSelect">
        <form action="http://localhost:3000/selectWastes" method="get">
          <input placeholder="请输入搜索关键字"  name="wastename" ></input>
          <input type="submit" value="搜索" class="selectButton"></input>
      </form>
      </div>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/" class="active">首页</a></li>
        <li><a href="encyclopedias">分类百科</a></li>
        <li><a href="classification">分类指南</a></li>
        <li><a href="game">分类小游戏</a></li>
        <li><a href="person">个人信息</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="main">
        <form id="myform" method="get" action="http://localhost:3000/tologin">
          <h1>登录</h1>
          <dl>
            <dd><input id="user" type="text" placeholder="请输入用户名" class="inputs" name="username" onblur="checkUser()" />
              <div id="user_prompt"></div>
            </dd>
          </dl>
          <dl>
            <dd><input id="pwd" type="password" placeholder="请输入密码" class="inputs" name="user_password" onblur="checkPwd()" />
              <div id="pwd_prompt"></div>
            </dd>
          </dl>
          <dl>
            <dd><input type="submit" value="登录" class="submit"></dd>
          </dl>
        </form>
      </div>
    </div>
    </div>
  <div id="bottom">
        ©新乡学院 2017级计算机科学与技术1班 李玉华 指导老师：黄楠
  </div>
  <!-- <script src="js/select.js"></script> -->
  <script src="js/login.js"></script>
</body>

</html>